{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
     "project": [
       "./tsconfig.json"
     ]
  },
  "extends": [
    "react-app",
    "plugin:jest/style"
    // TODO: Enable typescript linting and fix the errors (190 at the moment)
    // ,"plugin:@typescript-eslint/recommended-requiring-type-checking"
  ],
  "plugins": ["jest","@typescript-eslint"],
  "rules": {
    "no-useless-escape": "off",
    "jest/no-disabled-tests": "warn",
    "jest/no-focused-tests": "error",
    "jest/no-identical-title": "error",
    "jest/prefer-to-have-length": "warn",
    "jest/valid-expect": "error",
    "@typescript-eslint/no-unsafe-return": "off",
    "jsx-a11y/anchor-has-content": "off"
  },
  "globals": {
    "__PATH_PREFIX__": true,
    "tw": true
  }
}

