@tailwind base;

h2 {
  @apply text-xl font-semibold;
}

@tailwind components;

.reveal-menu-content {
  @apply relative;
}

.menu-content {
  @apply absolute top-0 right-0 mt-14 w-32 bg-white rounded shadow-lg z-30 hidden;
}

.menu-content:hover,
.reveal-menu-content:focus > .menu-content {
  @apply block;
}

.session {
  height: 20rem;
}


.ddd-crew {
  height: 20rem;
}

@tailwind utilities;

a {
  @apply text-blue-600 no-underline;
}

.navbar {
  @apply bg-white shadow-md text-blue-600 h-16 sticky top-0 inset-x-0 z-50;
}

.navbar-transparent {
  transition: background-color 0.3s ease-in-out;
  @apply bg-transparent;
}

.navbar-permanent {
  transition: background-color 0.3s ease-in-out;
  @apply bg-white shadow-md;
}

.link {
  @apply text-blue-600;
}

.link:hover {
  @apply text-blue-400 cursor-pointer;
}

.overlay {
  @apply z-0 absolute inset-0 bg-gray-900 opacity-75;
}

.hero {
  height: fit-content;
  @apply relative bg-scroll h-full;
}

.hero-content {
  @apply h-full flex flex-col items-center justify-start;
}

.hero-logo {
  @apply z-10 mt-24;
}

.hero-text {
  @apply z-10 text-white leading-loose;
}

.hero-title {
  font-size: calc(2vw + 1rem);
  @apply font-black;
}

.hero-subtitle {
  font-size: calc(1vw + 0.5rem);
  @apply font-medium;
}

.section {
  @apply bg-gray-200 text-blue-800 flex flex-col items-center justify-center;
}
.section:nth-child(odd) {
  @apply bg-white;
}

.content {
  @apply leading-normal text-blue-800 py-4 flex flex-col items-center justify-center;
}

.footer {
  @apply flex flex-col items-center justify-center p-4;
}

.videoframe {
  padding-top: 56.25%;
  @apply relative;
}

.videostream {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  @apply absolute;
}

.player {
  width: 90%;
  float: left;
  padding: 0% 2.5%;
}

.player iframe {
  height: 100px;
  width: 100%;
  padding-top: 5px;
  border: none;
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 769px) {
  #player {
    width: 55%;
    padding: 0% 2.5%;
  }
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
  #player {
    width: 90%;
    padding: 0% 5%;
  }
}

/* High performance box-shadow animation using pseudo elements to prevent redrawing */
.floating-action-button {
  transition: transform 0.1s ease-out;
  @apply relative bg-center shadow-lg z-10;
}
.floating-action-button:hover {
  transform: scale(1.1);
}
.floating-action-button:active {
  transform: scale(1);
}
.floating-action-button::before {
  content: "";
  border-radius: inherit;
  transition: background 0.8s;
  @apply absolute bg-center inset-0 w-full h-full z-10;
}
.floating-action-button:hover::before {
  background: radial-gradient(circle, transparent 1%, text-gray-300 1%)
    center/15000%;
}
.floating-action-button:active::before {
  background-size: 100%;
  transition: background 0s;
  @apply .bg-blue-500;
}
.floating-action-button::after {
  content: "";
  border-radius: inherit;
  transition: opacity 0.1s ease-out;
  @apply absolute opacity-0 inset-0 shadow-xl z-0;
}
.floating-action-button:hover::after {
  opacity: 1;
}
.floating-action-button:active::after {
  opacity: 0;
}
/* End - High performance box-shadow animation using pseudo elements to prevent redrawing */

/* purgecss start ignore */
/* Markdown Styles */
/* Global */
.markdown {
  @apply leading-relaxed text-sm;
}

@screen sm {
  .markdown {
    @apply text-base;
  }
}

@screen lg {
  .markdown {
    @apply text-lg;
  }
}

/* Headers */
.markdown h1,
.markdown h2 {
  @apply text-xl my-6 font-semibold;
}
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  @apply text-lg my-3 font-semibold;
}

@screen sm {
  .markdown h1,
  .markdown h2 {
    @apply text-2xl;
  }
  .markdown h3,
  .markdown h4,
  .markdown h5,
  .markdown h6 {
    @apply text-xl;
  }
}

/* Links */
.markdown a {
  @apply text-blue-600;
}
.markdown a:hover {
  @apply underline;
}
/* Paragraph */
.markdown p {
  @apply mb-4;
}
/* Lists */
.markdown ul,
.markdown ol {
  @apply mb-4 ml-8;
}
.markdown li > p,
.markdown li > ul,
.markdown li > ol {
  @apply mb-0;
}
.markdown ol {
  @apply list-decimal;
}
.markdown ul {
  @apply list-disc;
}
/* Blockquotes */
.markdown blockquote {
  @apply p-2 mx-6 bg-gray-100 mb-4 border-l-4 border-gray-400 italic;
}
.markdown blockquote > p {
  @apply mb-0;
}
/* Tables */
.markdown td,
.markdown th {
  @apply px-2 py-1 border border-gray-400;
}
.markdown tr:nth-child(odd) {
  @apply bg-gray-100;
}
.markdown table {
  @apply mb-6;
}

/* Wrap any inline highlights `that are really long`, but don't modify
   the setting for codeblocks (inside ```), which are rendered in as:
   <pre><code>...
*/
.markdown :not(pre) > code.language-text {
  white-space: pre-line;
}
/* purgecss end ignore */