 @tailwind preflight;

 @tailwind components;

 @tailwind utilities;

a {
    @apply text-blue-dark no-underline;
}


.navbar {
    @apply bg-white text-blue-dark h-16 fixed pin-t pin-x z-50;
}

.navbar-transparent {
    transition: background-color .3s ease-in-out;
    @apply bg-transparent;
}

.navbar-opaque {
    transition: background-color .3s ease-in-out;
    @apply bg-white shadow-md;
}
 
.navbar-permanent {
    @apply navbar-opaque;    
}

.nav-item {
    @apply p-4 font-bold text-2xl cursor-pointer flex-no-shrink flex items-center justify-center;
}

.nav-item:hover {
    @apply rounded-lg bg-grey-light text-blue-darker;
}
 
.overlay {
    @apply z-0 absolute pin bg-black opacity-75;
}

.hero {
    height: fit-content;
    @apply relative bg-scroll h-full;
}

.hero-content {
    @apply h-full flex flex-col items-center justify-start;
}

.hero-logo {
    @apply z-10 mt-24;
}

.hero-text {
    @apply z-10 text-white leading-loose text-2xl;
}

.skyline {
    opacity: 0.6;
    min-width: 100%;
    @apply absolute pin-b;
}

.tickets {
    height: 1000px;
    width: 100%;
}


.section{
    @apply bg-grey-lighter text-blue-darker flex flex-col items-center justify-center;
}
 
.content{
    @apply bg-grey-lighter leading-normal text-justify text-blue-darkest py-4 flex flex-col items-center justify-center;
}

.footer {
    @apply bg-white flex flex-col items-center justify-center p-4;
}